.container {
	grid-area: scroll;
	display: grid;
	place-items: center;
	position: relative;
}

.thumb {
	width: 3rem;
	height: 3rem;
	background-color: red;
}

.track {
	width: 3rem;
	height: 100%;
	background-color: aqua;
	/* transition: all 0.3s ease-in-out; */
}
